# Local SQLite Database (Used by Electron and local Hub)
DATABASE_URL="file:./database/pharmacy.db"

# Supabase Cloud Synchronization & Remote Access for Owner in the UK
# Add these two variables to your Vercel Project Settings -> Environment Variables
VITE_SUPABASE_URL="https://porlaindujqtgrtiuzjz.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvcmxhaW5kdWpxdGdydGl1emp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA4ODYyMDIsImV4cCI6MjEwNjQ2MjIwMn0.apA4OxPtd500-6hgxg7Eoha9PCFU6DKcZqYNzTreCpk"
